[gcode_macro WIPE_NOZZLE]
description: Wipes nozzle beside the bed.
gcode:
  M104 S200 ; hotend temp 200
  G90 ; absolute mode
  G28 ; home
  G1 z10 F300 ; move upwards
  G1 y150 x-5 F2000 ; move backwards and outside bed
  G1 z0.2 F200 ; move close to bed
  M109 S200 ; wait for hotend temp 200
  G1 E10 F60 ; extrude a little bit of filament
  G4 S5 ; wait 2 seconds
  G1 F60 E4 ; extrude a little more
  G4 S2 ; wait a second
  ; G1 F1700 E-0.7 ; retrude
  G91 ; relative mode
  G1 x10 y-5 F800 ; move left/right
  G1 x-10 y-5 F800 ; move left/right
  G1 x10 y-5 F1500 ; move left/right
  G1 x-10 y-5 F1500 ; move left/right
  G1 x10 y-5 F2000 ; move left/right
  G1 x-10 y-5 F2000 ; move left/right
  G1 x10 y-5 F2000 ; move left/right
  G1 x-10 y-5 F2000 ; move left/right
  G1 z5 F300
  G1 x10 y-5 F5000 ; move left/right
  G1 x-10 y-5 F5000 ; move left/right
  G1 x10 y-5 F5000 ; move left/right
  G1 x-10 y-5 F5000 ; move left/right
  G1 z10 F300
  G90 ; absolute mode
  G92 E0 ; Reset extruder
  ;M107 ; disable fans

[gcode_macro GREASE_X]
description: moves x to spread grease
gcode:
  G90 ; absolute mode
  G28 X
  G1 x-5 F800
  G1 X225 F2000
  G1 X-5 F2000
  G91 ; relative mode
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G90 ; absolute mode
  G1 X-5 F9000
  G1 X220 F9000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X0 F4000

[gcode_macro GREASE_Y]
description: moves x to spread grease
gcode:
  G90 ; absolute mode
  G28 Y
  G1 Y230 F2000
  G1 Y0 F2000
  G1 Y230 F2000
  G1 Y0 F2000
  G91 ; relative mode
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G90 ; absolute mode
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y0 F4000


#######################################################################
## Clean Nozzle
#######################################################################
[gcode_macro nozzle_clean]
gcode:
  {% set LOWERED_EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|int %}
  {% set WIPES = params.WIPES|default(3)|int %}
  #Position the nozzle
  G90
  M104 S{LOWERED_EXTRUDER_TEMP} ; set hotend temp without waiting
  G28
  #Heat up nozzle to extruder temperature - 40°C
  {action_respond_info("Clean nozzle: Heating up to {}°C the do {} wipes.".format(
    (LOWERED_EXTRUDER_TEMP),
    (WIPES)
  ))}
  G1 X-8 Y4 Z15 F3000 ; move to first hole
  G1 Z8 F1000 ; move down slightly into tube
  #Bring the nozzle down
  G1 Z6
  M109 S{LOWERED_EXTRUDER_TEMP}
  G91
  G1 E25 F300 ; extrude 25mm to flush nozzle
  G4 S500
  G1 E-10 F1000 ; retract to avoid stringing
  G90
  M106 S255
  #Slow deep swiping the nozzle
  G1 Z7.5
  {% for wipe in range(WIPES) %}
    G1 Y4 F1500
    G1 Y30 F1500
  {% endfor %}

  #Fast, light swiping the nozzle
  G1 Z9
  {% for wipe in range(WIPES) %}
    G1 Y4 F4000
    G1 Y30 F4000
  {% endfor %}

  G1 X-8 Y30 Z15 F3000
  G1 Z6
  {% for wipe in range(WIPES) %}
    G1 Y32 F3000
    G1 X-6 F3000
    G1 Y28 F3000
    G1 X-8 F300
    G1 Y32 F3000
  {% endfor %}
  G1 X-8 Y30 Z15 F3000
  M106 S0
  G91
  G1 E-10 F1000 ; retract to avoid stringing
  G90


[gcode_macro nozzle_clean_homed]
gcode:
  {% set LOWERED_EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|int %}
  {% set WIPES = params.WIPES|default(3)|int %}
  #Position the nozzle
  G90          ; absolute positioning
  M83          ; relative extruder mode
  M104 S{LOWERED_EXTRUDER_TEMP} ; set hotend temp without waiting
  #G28 skip homing
  #Heat up nozzle to extruder temperature - 40°C
  {action_respond_info("Clean nozzle: Heating up to {}°C the do {} wipes.".format(
    (LOWERED_EXTRUDER_TEMP),
    (WIPES)
  ))}
  G1 Z15 F1000 ; raise Z first before any XY move (safety)
  G1 X-8 Y4 Z15 F3000 ; move to first hole
  G1 Z8 F1000 ; move down slightly into tube
  #Bring the nozzle down
  G1 Z6
  M109 S{LOWERED_EXTRUDER_TEMP}
  G91
  G1 E25 F300 ; extrude 25mm to flush nozzle
  G4 S500
  G1 E-10 F600 ; retract to avoid stringing
  G90
  M106 S255
  #Slow deep swiping the nozzle
  G1 Z7.5
  {% for wipe in range(WIPES) %}
    G1 Y4 F1500
    G1 Y30 F1500
  {% endfor %}

  #Fast, light swiping the nozzle
  G1 Z9
  {% for wipe in range(WIPES) %}
    G1 Y4 F4000
    G1 Y30 F4000
  {% endfor %}

  G1 X-8 Y30 Z15 F3000
  G1 Z6
  {% for wipe in range(WIPES) %}
    G1 Y32 F3000
    G1 X-6 F3000
    G1 Y28 F3000
    G1 X-8 F3000
    G1 Y32 F3000
  {% endfor %}
  G1 X-8 Y30 Z15 F3000
  M106 S0
  G91
  G1 E-5 F600 ; retract to avoid stringing
  G90
  G92 0.0

#######################################################################
## Wipe Nozzle
#######################################################################
[gcode_macro nozzle_wipe]
gcode:
  {% set WIPES = params.WIPES|default(3)|int %}
  #Position the nozzle
  G90
  G28
  G90
  #Heat up nozzle to extruder temperature - 40°C
  {action_respond_info("Wiping nozzle: do {} wipes.".format(
    (WIPES)
  ))}
  G1 X-8 Y4 Z15 F3000 ; move to first hole
  ;M109 S{LOWERED_EXTRUDER_TEMP}
  M106 S255
  #Slow deep swiping the nozzle
  G1 Z9
  {% for wipe in range(WIPES) %}
    G1 Y3 F1500
    G1 Y40 F1500
  {% endfor %}

  #Fast, light swiping the nozzle
  G1 Z9.8
  {% for wipe in range(WIPES) %}
    G1 Y3 F8000
    G1 Y40 F8000
  {% endfor %}
  G1 Z15
  # move to last hole and do a circular wipe inside
  G1 X-7 Y35 F3000
  G1 Z7
  {% for wipe in range(WIPES) %}
    G1 Y36 F3000
    G1 X-6 F3000
    G1 Y34 F3000
    G1 X-8 F3000
    G1 Y35 F3000
  {% endfor %}

  {% for wipe in range(WIPES) %}
    G1 Y36 F3000
    G1 X-6 F3000
    G1 Y34 F3000
    G1 X-8 F3000
    G1 Y35 F3000
  {% endfor %}
  G1 X-10 Y35 Z15 F3000
  M106 S0



[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
  ; turn the lights on
  LIGHTSON
  ; FLASHLIGHT_ON
  ; beep two times
  SET_PIN PIN=beeper VALUE=0.01
  SET_PIN PIN=beeper VALUE=0
  SET_PIN PIN=beeper VALUE=0.01
  SET_PIN PIN=beeper VALUE=0

[gcode_macro INIT_NOZZLE]
gcode:
  G28
  G1 Z110 F1000
  G1 E5 F500
  G1 E15 F800
  G1 E-6 F600
  G1 X130 F6000
  G1 X160 F6000
  G1 X130 F6000
  G1 X160 F6000
  G1 X130 F6000
  G1 E-3 F800



# Home only if not already homed :-) 
[gcode_macro G28_2]
# Only home if needed.
#rename_existing: G28.1
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28.1
  {% endif %}


[gcode_macro TEST]
gcode:
    M118 {printer.toolhead.homed_axes}
