[gcode_macro WIPE_NOZZLE]
description: Wipes nozzle beside the bed.
gcode:
  M104 S200 ; hotend temp 200
  G90 ; absolute mode
  G28 ; home
  G1 z10 F300 ; move upwards
  G1 y150 x-5 F2000 ; move backwards and outside bed
  G1 z0.2 F200 ; move close to bed
  M109 S200 ; wait for hotend temp 200
  G1 E10 F60 ; extrude a little bit of filament
  G4 S5 ; wait 2 seconds
  G1 F60 E4 ; extrude a little more
  G4 S2 ; wait a second
  ; G1 F1700 E-0.7 ; retrude
  G91 ; relative mode
  G1 x10 y-5 F800 ; move left/right
  G1 x-10 y-5 F800 ; move left/right
  G1 x10 y-5 F1500 ; move left/right
  G1 x-10 y-5 F1500 ; move left/right
  G1 x10 y-5 F2000 ; move left/right
  G1 x-10 y-5 F2000 ; move left/right
  G1 x10 y-5 F2000 ; move left/right
  G1 x-10 y-5 F2000 ; move left/right
  G1 z5 F300
  G1 x10 y-5 F5000 ; move left/right
  G1 x-10 y-5 F5000 ; move left/right
  G1 x10 y-5 F5000 ; move left/right
  G1 x-10 y-5 F5000 ; move left/right
  G1 z10 F300
  G90 ; absolute mode
  G92 E0 ; Reset extruder
  ;M107 ; disable fans

[gcode_macro GREASE_X]
description: moves x to spread grease
gcode:
  G90 ; absolute mode
  G28 X
  G1 x-5 F800
  G1 X225 F2000
  G1 X-5 F2000
  G91 ; relative mode
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G1 X-30 F4000
  G1 X50 F4000
  G90 ; absolute mode
  G1 X-5 F9000
  G1 X220 F9000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X-5 F15000
  G1 X220 F15000
  G1 X0 F4000

[gcode_macro GREASE_Y]
description: moves x to spread grease
gcode:
  G90 ; absolute mode
  G28 Y
  G1 Y230 F2000
  G1 Y0 F2000
  G1 Y230 F2000
  G1 Y0 F2000
  G91 ; relative mode
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G1 Y-30 F4000
  G1 Y50 F4000
  G90 ; absolute mode
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y5 F9000
  G1 y220 F9000
  G1 y0 F4000


#######################################################################
## Clean Nozzle
#######################################################################
[gcode_macro nozzle_clean]
gcode:
  {% set LOWERED_EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|int %}
  {% set WIPES = params.WIPES|default(3)|int %}
  #Position the nozzle
  G90
  M104 S{LOWERED_EXTRUDER_TEMP} ; set hotend temp without waiting
  G28
  #Heat up nozzle to extruder temperature - 40°C
  {action_respond_info("Clean nozzle: Heating up to {}°C the do {} wipes.".format(
    (LOWERED_EXTRUDER_TEMP),
    (WIPES)
  ))}
  G1 X-8 Y4 Z15 F3000 ; move to first hole
  G1 Z8 F1000 ; move down slightly into tube
  #Bring the nozzle down
  G1 Z6
  M109 S{LOWERED_EXTRUDER_TEMP}
  G91
  G1 E25 F300 ; extrude 25mm to flush nozzle
  G4 S500
  G1 E-10 F1000 ; retract to avoid stringing
  G90
  M106 S255
  #Slow deep swiping the nozzle
  G1 Z7.5
  {% for wipe in range(WIPES) %}
    G1 Y4 F1500
    G1 Y30 F1500
  {% endfor %}

  #Fast, light swiping the nozzle
  G1 Z9
  {% for wipe in range(WIPES) %}
    G1 Y4 F4000
    G1 Y30 F4000
  {% endfor %}

  G1 X-8 Y30 Z15 F3000
  G1 Z6
  {% for wipe in range(WIPES) %}
    G1 Y32 F3000
    G1 X-6 F3000
    G1 Y28 F3000
    G1 X-8 F300
    G1 Y32 F3000
  {% endfor %}
  G1 X-8 Y30 Z15 F3000
  M106 S0
  G91
  G1 E-10 F1000 ; retract to avoid stringing
  G90


[gcode_macro nozzle_clean_homed]
gcode:
  {% set EXTRUDER_TEMP      = params.EXTRUDER_TEMP|default(220)|int %}
  {% set WIPES              = params.WIPES|default(3)|int %}

  ; -- Position & height settings --
  {% set safe_z             = 15 %}    ; safe travel height
  {% set flush_x            = -8 %}    ; X position over flush tube
  {% set flush_y            = 4 %}     ; Y position over flush tube
  {% set flush_z            = 6 %}     ; Z depth into flush tube
  {% set wipe_z_deep        = 8 %}     ; Z height for slow/deep wipes
  {% set wipe_z_light       = 9 %}     ; Z height for fast/light wipes
  {% set wipe_y_start       = 1 %}     ; Y start of wipe stroke
  {% set wipe_y_end         = 40 %}    ; Y end of wipe stroke

  ; -- Last tube clean settings --
  {% set clean_x            = -7 %}    ; X center of last tube
  {% set clean_y            = 30 %}    ; Y center of last tube
  {% set clean_z            = 8 %}    ; Y center of last tube
  {% set clean_r            = 1.5 %}   ; radius of circular wipe

  ; -- Speed settings (mm/min) --
  {% set speed_travel       = 3000 %}
  {% set speed_z            = 1000 %}
  {% set speed_wipe_slow    = 1500 %}
  {% set speed_wipe_fast    = 4000 %}
  {% set speed_wipe_medium  = 3000 %}
  {% set speed_extrude      = 300 %}
  {% set speed_retract      = 600 %}

  ; -- Extrusion settings --
  {% set flush_length       = 25 %}    ; mm to extrude for flushing
  {% set retract_after_flush = 10 %}   ; mm to retract after flush
  {% set retract_final      = 5 %}     ; mm to retract at end

  {action_respond_info("Clean nozzle: Heating up to {}°C then do {} wipes.".format(
    EXTRUDER_TEMP, WIPES
  ))}

  G90                                           ; absolute positioning
  M83                                           ; relative extruder mode
  M106 S255                                     ; fan on
  G4 P1000                                      ; wait for fan to spin up
  M104 S{EXTRUDER_TEMP}                         ; set hotend temp without waiting

  G1 Z{safe_z} F{speed_z}                       ; Raise Z first before any XY move (safety)
  G1 X{flush_x} Y{flush_y} Z{safe_z} F{speed_travel}
  G1 Z{flush_z} F{speed_z}
  M109 S{EXTRUDER_TEMP}                         ; wait for hotend temp

  G1 E{flush_length} F{speed_extrude}           ; extrude to flush nozzle
  G4 P500                                       ; wait 500ms
  G1 E-{retract_after_flush} F{speed_retract}   ; retract to avoid stringing
  ;G1 Z{safe_z} F{speed_z}                       ; Raise Z

  ; Slow deep wipes
  G1 Z{wipe_z_deep} F{speed_z}
  {% for wipe in range(WIPES) %}
    G1 Y{wipe_y_start} F{speed_wipe_slow}
    G1 Y{wipe_y_end}   F{speed_wipe_slow}
  {% endfor %}

  ; Fast light wipes
  G1 Z{wipe_z_light} F{speed_z}
  {% for wipe in range(WIPES) %}
    G1 Y{wipe_y_start} F{speed_wipe_fast}
    G1 Y{wipe_y_end}   F{speed_wipe_fast}
  {% endfor %}

  ; Clean nozzle in last tube
  ; Pre-calculated circle points (8 steps, 45° increments)
  ; 0°   ( r,  0)  -> ( 1.5,  0.0)
  ; 45°  ( d,  d)  -> ( 1.1,  1.1)  d = r * sin(45°) ≈ r * 0.707
  ; 90°  ( 0,  r)  -> ( 0.0,  1.5)
  ; 135° (-d,  d)  -> (-1.1,  1.1)
  ; 180° (-r,  0)  -> (-1.5,  0.0)
  ; 225° (-d, -d)  -> (-1.1, -1.1)
  ; 270° ( 0, -r)  -> ( 0.0, -1.5)
  ; 315° ( d, -d)  -> ( 1.1, -1.1)

  {% set d = (clean_r * 0.707)|round(2) %}

  G1 X{clean_x + clean_r} Y{clean_y} Z{safe_z} F{speed_travel}
  G1 Z{clean_z} F{speed_z}
  {% for wipe in range(WIPES) %}
    G1 X{clean_x + clean_r} Y{clean_y}           F{speed_wipe_medium} ; 0°
    G1 X{clean_x + d}       Y{clean_y + d}       F{speed_wipe_medium} ; 45°
    G1 X{clean_x}           Y{clean_y + clean_r} F{speed_wipe_medium} ; 90°
    G1 X{clean_x - d}       Y{clean_y + d}       F{speed_wipe_medium} ; 135°
    G1 X{clean_x - clean_r} Y{clean_y}           F{speed_wipe_medium} ; 180°
    G1 X{clean_x - d}       Y{clean_y - d}       F{speed_wipe_medium} ; 225°
    G1 X{clean_x}           Y{clean_y - clean_r} F{speed_wipe_medium} ; 270°
    G1 X{clean_x + d}       Y{clean_y - d}       F{speed_wipe_medium} ; 315°
    G1 X{clean_x + clean_r} Y{clean_y}           F{speed_wipe_medium} ; 360° / back to 0°
  {% endfor %}

  G1 X{clean_x} Y{clean_y} Z{safe_z} F{speed_travel}

  M106 S0                                       ; fan off

  G1 E-{retract_final} F{speed_retract}         ; final retract
  G90
  G92 E0


#######################################################################
## Wipe Nozzle
#######################################################################
[gcode_macro nozzle_wipe]
gcode:
  {% set WIPES = params.WIPES|default(3)|int %}
  #Position the nozzle
  G90
  G28
  G90
  #Heat up nozzle to extruder temperature - 40°C
  {action_respond_info("Wiping nozzle: do {} wipes.".format(
    (WIPES)
  ))}
  G1 X-8 Y4 Z15 F3000 ; move to first hole
  ;M109 S{LOWERED_EXTRUDER_TEMP}
  M106 S255
  #Slow deep swiping the nozzle
  G1 Z9
  {% for wipe in range(WIPES) %}
    G1 Y3 F1500
    G1 Y40 F1500
  {% endfor %}

  #Fast, light swiping the nozzle
  G1 Z9.8
  {% for wipe in range(WIPES) %}
    G1 Y3 F8000
    G1 Y40 F8000
  {% endfor %}
  G1 Z15
  # move to last hole and do a circular wipe inside
  G1 X-7 Y35 F3000
  G1 Z7
  {% for wipe in range(WIPES) %}
    G1 Y36 F3000
    G1 X-6 F3000
    G1 Y34 F3000
    G1 X-8 F3000
    G1 Y35 F3000
  {% endfor %}

  {% for wipe in range(WIPES) %}
    G1 Y36 F3000
    G1 X-6 F3000
    G1 Y34 F3000
    G1 X-8 F3000
    G1 Y35 F3000
  {% endfor %}
  G1 X-10 Y35 Z15 F3000
  M106 S0



[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
  ; turn the lights on
  LIGHTSON
  ; FLASHLIGHT_ON
  ; beep two times
  SET_PIN PIN=beeper VALUE=0.01
  SET_PIN PIN=beeper VALUE=0
  SET_PIN PIN=beeper VALUE=0.01
  SET_PIN PIN=beeper VALUE=0

[gcode_macro INIT_NOZZLE]
gcode:
  G28
  G1 Z110 F1000
  G1 E5 F500
  G1 E15 F800
  G1 E-6 F600
  G1 X130 F6000
  G1 X160 F6000
  G1 X130 F6000
  G1 X160 F6000
  G1 X130 F6000
  G1 E-3 F800



# Home only if not already homed :-) 
[gcode_macro G28_2]
# Only home if needed.
#rename_existing: G28.1
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28.1
  {% endif %}


[gcode_macro TEST]
gcode:
    M118 {printer.toolhead.homed_axes}
